{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro cumque adipisci, quo cupiditate deserunt quaerat ex illo possimus praesentium vitae temporibus magnam autem error. Laudantium corrupti laboriosam earum rem iste?</h1> 
    <img src="{% static 'images/img.jpeg' %}" alt="">
    <a href="{% url 'doctors:register' %}"><input type="button" value="go to register"></a>
</body>
</html>