<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" placeholder="Enter your first name"><br>
    <input type="text" placeholder="Enter your second name"><br>
    <input type="text" placeholder="Enter your email id"><br>
    <input type=" password" placeholder="Enter your password"><br>
    <input type="password" placeholder="Re enter your password"><br>
    <input type="button" value="Register">
</body>
</html>